.chart-container{
  width: 500px;
  height: 200px;
}

.main-container{
  border: 0.5px solid #dddd;
    margin: 20px;
}
.header-container{
  display: flex;
  padding: 10px;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(0,0,0 , 0.1)	;
}
button{
  width: 9%;
  height: 30px;
  background-color: #4545fa;
  color: white;
  border-color: blue;
  outline: 0;
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: 49% 50%;
  padding: 10px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: #ddd6;

}
.loader {
  margin: 20% 0;
  display: flex;
  justify-content: center;
  width: 100%;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.notification{
  margin: 20px;
}